/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
///// Use type-scale.com for nice (and scaled) font sizes.
*/

/* 
COLORS

Main color: #fff

*/

:root {
  --primary-color: rgba(0, 99, 248, 0.5);
  --primary-color-dark: rgba(0, 99, 248, 0.25);
}

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #333;
}
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
}
main {
  grid-column: 2/3;
  box-shadow: 0 0 0 5px var(--primary-color);
  border-radius: 5px;
  margin-block: 3.2rem;
  padding: 2rem;
}
.app-title {
  font-size: 3.2rem;
  margin-block-end: 1.6rem;
}
.plus-sign {
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 5px;
  background-color: var(--primary-color-dark);
}
.section-title {
  text-align: center;
  font-size: 2.8rem;
}

/* TASKS */
.task {
  border-radius: 5px;
  box-shadow: 0 0 0 2px var(--primary-color);
  background-color: rgba(9, 99, 248, 0.25);
  padding: 1.5rem;
  margin-block: 2rem;
}
.task-title {
  font-size: 2rem;
  margin-block-end: 0.5rem;
}
.task-date {
  font-size: 1.6rem;
  color: #777;
  font-weight: bold;
  margin-block-end: 1rem;
}
.task-text {
  font-size: 1.8rem;
  margin-block-end: 2rem;
}
.icon {
  font-size: 2rem;
  margin-inline-end: 1rem;
  cursor: pointer;
}
.icon:last-child {
  margin-inline-end: 0;
}

/* MODAL */
.modal-content {
  padding: 1rem;
}
.modal-label {
  font-size: 1.8rem;
}
.modal-title-input,
.modal-date-input,
.modal-textarea {
  font-size: 1.6rem;
}

/* BUTTONS */
.add-btn {
  margin-block-end: 2.4rem;
  font-size: 1.8rem;
  background-color: var(--primary-color-dark);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  transition: all 0.25s;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-btn:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}
.modal-btn {
  font-size: 1.8rem;
}
